.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section {
  position: relative;
  background-image: url('background-image.jpg'); // Замените на путь к фоновому изображению
  background-size: cover;
  background-position: center;
  height: 100vh; // Задайте нужную высоту
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  text-align: center;
}

.hero-image {
  max-width: 300px; // Установите нужный размер для центрального изображения
  height: auto;
}

.hero-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #ff6347;
}
